<div class="max-w-3xl mx-auto">

  <h1 class="text-4xl font-bold mb-4 text-blue-400">
    <%= @language.title %>
  </h1>

  <p class="text-gray-400 mb-6">
    <%= @language.description %>
  </p>

  <% if @language.documentation_link.present? %>
    <a href="<%= @language.documentation_link %>"
       target="_blank"
       class="bg-blue-500 hover:bg-blue-600 px-4 py-2 rounded-lg">
      Ver Documentação 🌐
    </a>
  <% end %>
</div>